@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body,button,input,select,textarea{ font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif; font-size: 62.5%;}
ul,ol,dl{list-style:none;}
a:link{text-decoration:none;}
a:hover{ text-decoration: none;}
.clear{ clear:both;}
.wrap100{ width: 100%;}
.wrap90{ width:90%;margin:0 auto;}
.wrap80{ width:80%;margin:0 auto;}
.wap_header{height:0;  position: fixed; top:0; left:0;z-index:9; background: #fff;}
.p-t-50{ padding-top: 0;}
.m-t-110{ padding-top: 60px;}
.m-t-120{ padding-top: 60px;}
.mar10{margin-top:0px;}
.mar20{margin-top:20px;}
.mar30{margin-top:30px;}
.fl{float:left;}
.fr{float:right;}
input{outline: none;}
.inputW24H24{width:24px;height:24px;}



/*width*/
.w-b-100{ width:100%;}
.w-b-90{ width:90%;}
.w-b-80{ width:80%;}
.w-b-70{ width:70%;}
.w-b-60{ width:60%;}
.w-b-50{ width:50%;}
.w-b-30{ width:30%;}
.w-b-25{ width:25%;}
.w-b-20{ width:20%;}
.w-b-15{ width:14%;}
.w-b-10{ width:10%;}
.w-b-5{ width:5%;}
/*width*/


/*下标*/ 
.xiabiao{vertical-align:sub;font-size:26px;}
/*上标*/ 
.shangbiao{vertical-align:super;font-size:24px;}


/*输入框*/
.input70{border:0;display:block;width:100%;height:60px;line-height:60px;border-radius:10px;background:#ffffff;text-indent:10px;color:#646464; font-size: 1.5rem; outline: none;}
.input70_gray{border:0;display:block;width:100%;height:60px;line-height:60px;border-radius:10px;background:#c8c8c8;text-indent:10px;color:#646464; font-size: 1.5rem; outline: none;}

/*提交按钮*/
.down_button{width:100%;float:left;margin-top:20px;}
.down_button button{border:0;display:block;width:90%;height:60px;line-height:60px;margin:0 auto;text-align:center;color:#ffffff;background:#ff6600;border-radius:10px;border:1px solid #feffb0;font-size:1.6rem;cursor:pointer;}
.down_button button.current{ background: #c8c8c8; border: 0;}

/*版权信息*/
.xins_banq{width:100%;float:left;margin-top:35px;margin-bottom:10px; color: #999;}
.xins_bqbk{width:90%;margin:0 auto;text-align:center;font-size:1rem;}
.xins_bqbk p{margin-top:6px;}

/*头部导航*/
.topNav{ height: 60px; background: #ff6600; line-height: 60px; overflow: hidden; position: fixed; top:0; left:0;z-index:9;}
.topNav ul{}
.topNav ul li{ float: left; }
.topNav ul li a{font-size: 1.4rem; color: #fff;padding:0 5px;}
.topNav ul li.bg1{ background: #fba870;}
.topNav ul li.bg2{ background: #fd9955;}
.topNav ul li.bg3{ background: #fb802d;}




/*icon*/
.house-icon{ background-image:url("../images/xins_icon01.png"); background-repeat: no-repeat; padding:250px 20px; display: inline-block;  background-position: 0 10px; float: left;  }


/* 朱秋容添加begin*/

.body_color {
    background: #eeeeee;
}
.wrap90 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.wrap80 {
    width: 80%;
    margin: 0 auto;
}
/* 左浮动 */
.fn-left {
    float: left!important;
}
.fn-right {
    float: right!important;
}
/* 图片 begin */
.icon {
    display: inline-block;
    vertical-align: middle;
}
.icon-warn {
    width: 60px;
    height: 60px;
    background: url("../images/warn.png") center center no-repeat;
    background-size: 60px 60px;
}
.icon-sus {
    width: 100px;
    height: 100px;
    background: url("../images/sucess.png") center center no-repeat;
    background-size: 100px 100px;
}
.icon-per {
    width: 60px;
    height: 60px;
    background: url("../images/input-per.png") center center no-repeat;
    background-size: 60px 60px;
}
/* 图片 end */
.wrap90 {
    width: 90%;
    margin: 0 auto;
}
.wrap95 {
    width: 95%;
    margin: 0 auto;
}
/* 按钮 begin */
.btn {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    color: #fff;
    font-size: 1.5rem;
}
/* 按钮 橘红色 */
.btn-orange {
    background-color: #ff6600;
    border: 1px solid #ff6600;
}
/* 按钮 end */
/* 表单 begin */
.form-item {
    margin-bottom: 25px;
    padding-left: 80px;
    position: relative;
    color: #646464;
    font-size: 1.5rem;
}
.form-item .ui-label {
    position: absolute;
    left: 0px;
    top: 0px;
}
.input-wrap {
    padding-right: 80px;
}
.input-wrap .icon {
    position: absolute;
    right: 0px;
    top: 0;
}
.ui-label {
    width: 80px;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    font-size: 26px;
    display: inline-block;
}
.ui-check {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
/* 表单 end*/
/* 头部标题 begin*/
.ui-header {
    background-color: #e2e3e3;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    text-align: center;
    font-size: 30px;
    color: #231815;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 1000;
}
.ui-header .icon-ret {
    width: 40px;
    height: 40px;
    background: url("../images/return.png") center center no-repeat;
    background-size: 40px 40px;
}
.ui-header .opt {
    color: #231815;
}
/* 头部标题 end */
.cont-wrap {
    padding: 30px 20px;
}
/* 按钮切换 begin */
.ui-switch {
    display: none;
}
.ui-switch + label {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #93918f;
    border: 2px solid #93918f;
    width: 60px;
    height: 26px;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    padding: 0 0 0 34px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.ui-switch + label:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
.ui-switch:checked + label {
    padding: 0 34px 0 0;
    background-color: #00e359;
    border-color: #00e359;
}
.ui-switch:checked:before {
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.ui-switch:disabled + label {
    opacity: 0.3;
}
/* 按钮切换 end */
.p-t-120 {
    padding-top: 120px;
}
/* 朱秋容添加end */


