#userName{
	
}


*{
	margin:0;
	padding:0;
}

body{
	color:#eee;
	background:url('/images/button/page_bg.jpg') repeat-x #f3f3f3;
	font:15px Calibri,Arial,sans-serif;
	border-top:5px solid #212121;
}

#buttonContainer{
	background:url('/images/button/section_bg.png');
	border:1px solid #F4F4F4;
	margin:10px auto 0;
	overflow:hidden;
	padding:20px 0 35px 45px;
	width:80%;
	
	-moz-box-shadow:0 0 10px #C4C4C4;
	-webkit-box-shadow:0 0 10px #C4C4C4;
	box-shadow:0 0 10px #C4C4C4;
}

#buttonContainer a{
	float:left;
	margin:15px 15px 0 0;
}